/* =========================================================================== */

/*  -- VARIABLES --  */ 

/* =========================================================================== */

:root {/* -------------------------------------------------------------------- */
    
    /* --------------------------------------------------------------------------- */
    
    /*  -- Sizes --  */
    
    --size-theme-height: 25px;
    --size-logo-height:  80px;
    --size-heart-w-h: 25px;
    --size-heart-margin-l: 0;
    --size-image-preview: 140px;
    --size-table-svg: 20px;
    
    /* --------------------------------------------------------------------------- */
    
    /*  -- Images --  */
    
        /* Meguna */
    --image-sukuna1: url(../IMG/SUKUNA/sukuna1.png);
    --image-sukuna2: url(../IMG/SUKUNA/sukuna2.png);
    --image-sukuna3: url(../IMG/SUKUNA/sukuna3.png);
    --image-sukuna4: url(../IMG/SUKUNA/sukuna4.png);
    --image-sukuna5: url(../IMG/SUKUNA/sukuna5.png);
    
    
        /* Megumi */
    --image-megumi1: url(../IMG/MEGUMIN/megumi1.png);
    --image-megumi2: url(../IMG/MEGUMIN/megumi2.png);
    --image-megumi3: url(../IMG/MEGUMIN/megumi3.png);
    --image-megumi4: url(../IMG/MEGUMIN/megumi4.png);
    --image-megumi5: url(../IMG/MEGUMIN/megumi5.png);
    
    
    
    /* --------------------------------------------------------------------------- */}

/* =========================================================================== */

/* =========================================================================== */

/*  -- ANIMATION -- */

/* =========================================================================== */

@keyframes heartMove {/* ----------------------------------------------------- */
    0%      { transform: rotate(30deg); opacity: 0;     }
    100%    { transform: rotate(30deg); top: -50px      }

    
    15%, 45%, 75%   { transform: rotate(-20deg);            }
    30%, 60%        { transform: rotate(30deg); opacity: 1; }


    40% { margin-left: calc(var(--size-heart-margin-l) - 40px); } 
    80% { margin-left: calc(var(--size-heart-margin-l) + 20px); } 
/* --------------------------------------------------------------------------- */}

@keyframes heartMoveToLeft {/* ----------------------------------------------------- */
    0%      { transform: rotate(-30deg); opacity: 0;    }
    100%    { transform: rotate(-30deg); top: -50px     }


    15%, 45%, 75%   { transform: rotate(20deg);                 }
    30%, 60%        { transform: rotate(-30deg); opacity: 1;    }


    40% { margin-left: calc(var(--size-heart-margin-l) + 20px); } 
    80% { margin-left: calc(var(--size-heart-margin-l) - 20px); }  
/* --------------------------------------------------------------------------- */}

@keyframes appearMegumi {/* ----------------------------------------------------- */
    0%      { left: 90%;    }
    100%    { left: 0;      }
/* --------------------------------------------------------------------------- */}

@keyframes appearMeguna {/* ----------------------------------------------------- */
    0%      { right: 90%;   }
    100%    { right: 0;     }
/* --------------------------------------------------------------------------- */}

/* =========================================================================== */